// VARIAVEIS DE COR
$fundoColor: rgba(255, 255, 255, 0.767);
$textoLogo: blue;
$textoHeaderLogo: rgb(70, 18, 190);

// VARIAVEIS DE TAMANHOS
$textoFonteLogo: 3rem;
$textoFonteTitulos: 1rem;
$textoFonteInput: 1rem;
